body {
    margin: 0;
    padding: 0;
    color: chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    margin: 10px;
    color: crimson;
    font-size: 25px;
}

table,
th,
tr,
td {
    font-size: 20px;
    color: darkseagreen;
    padding: 10px;
    border: 1px solid grey;
}

.redFont {
    color: red;
}

.blueFont {
    color: blue;
}

.selector {
    display: flex;
}

.greenFont {
    color: green;
}

.subhead {
    font-size: large;
    font-size: 30px;
    color: hotpink;
    line-height: 1.5em;
}

.bold {
    font-weight: bold;
}

.lighter {
    font-weight: lighter;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.colorHead {
    color: indigo;
    font-size: 20px;
}