.code {
    margin-left: 5%;
}

table,
tr,
th,
td {
    font-weight: bold;
    color: brown;
    font-size: 20px;
    border: 1px solid gray;
    margin-left: 5%;
    border-collapse: collapse;
}

td,
th {
    padding: 5px;
}